@import '../../variables';

.comments-container {
	margin: 1rem 3rem;
	padding: 1rem;
	position: relative;
	z-index: 10;

	.comment-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		width: 60%;
		margin: 0 auto;

		label {
      filter: drop-shadow(7px 5px 4px $colorDeep);
      font-family: $body;
      font-weight: normal;
      font-size: 1.5rem;
      margin-bottom: 0.6rem;
      color: white;
		}

		textarea {
			height: 10rem;
			padding: 0.6rem;
      line-height: 1.4rem;
      font-family: $header;
      resize: none;
		}

		button {
			margin-top: 0.6rem;
      height: 2rem;
      font-family: $header;
      font-size: .9rem;
		}
	}
}
