@import '../../variables';

.movie-tile {
  width: 200px;
  height: 300px;
  margin: 1.5vw;
  img {
    height: 90%;
    filter: drop-shadow(7px 5px 4px $colorDeep);
    border-radius: 5px;
  }
  img:hover {
    height: 93%;
    filter: drop-shadow(4px 5px 4px $colorDeep);
  }
  .movie-rating {
    margin-top: .5vh;
  }
  .movie-rating, .movie-user-rating {
    text-align: center;
    color: $colorMedium;
    font-family: $title;
    padding: 0;
  }
  .movie-tile-footer{
    display: flex;
    flex-direction: row;
    height: 4vh;
    img{
      height: 70%;
      margin: 3%;
    }
    button{
      background: none;
      border: none;
      margin-right: 19%;
    }
  }
}
