@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
}

.navbar-component {
  min-width: 20vw;
  height: 100vh;
  background-color: $nuetralLightest;
  h1, Link {
    color: $brightAccent;
    font-family: $title;
    font-style: normal;
    text-decoration: none;
    align-self: center;
  }

}

.movie-directory {
  display: flex;
  flex-direction: column;

  h2 {
    margin-left: 20px
  }
}

.movie-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 20px;
  width: 80vw;
  height: 90vh;
  overflow: scroll;
}

.movie-tile {
  width: 200px;
  height: 300px;
  margin: 10px;

  img {
    height: 90%
  }

  .movie-rating, .movie-user-rating {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.movie-show-page {
  display: flex;
  background-color: black;
  // background-color: black;
  .background {
    height: auto;
    width: 80vw;
    opacity: 60%;
    position: fixed;
    z-index: 1;
  }
  .movie-section{
    margin-left: 2vw;
    height: 60vh;
    position: relative;
    z-index: 2;
    align-self: center;
    display: flex;
    flex-direction: row;
    opacity: 100%;
    .main-poster {
      height: inherit;
    }
    .movie-info{
      color: white;
      display: flex;
      flex-direction: column;
      margin-left: 5vw;
      justify-content: center;
    }
  }
}
