//fonts
$title: 'Francois One', sans-serif;
$header: 'Open Sans', sans-serif;
$body: 'Secular One', sans-serif;

//colors
$brightAccent: hsl(78, 100%, 60%);
$nuetraldarkest: hsl(240, 1%, 23%);
$nuetralMidTone: hsl(193, 14%, 52%);
$nuetrallightes: hsl(210, 10%, 96%);
$colorLight: hsl(192, 71%, 82%);
$colorMedium: hsl(196, 51%, 60%);
$colorDeep: hals(202, 95%, 41%);
